/*------------------------------1. Global Styles------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*------------------------------1.2 Colors------------------------------*/
.africa {
    color: blue;
}

.americas {
    color: green;
}

.asia {
    color: red;
}

.europe {
    color: yellow;
}

.oceania {
    color: purple;
}

.otherCountries {
    color: deeppink;
}




/*------------------------------2. Typography------------------------------*/

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
}

/*------------------------------3. Layout------------------------------*/


/*------------------------------4. Areas------------------------------*/
.body__outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------4.1 Header------------*/
/*.header__outer-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*}*/

.world-map {
    border: 2px solid red;
    width: 1000px;
}

/*-----------4.2 Main---------*/
.country-list {

    display: flex;
    flex-direction: row;

}



li {
    display: flex;
    flex-direction: row;

}


.vlaggetjes {
    display: inline-block;
    width: 30px;
}


.population {
    display: flex;
    flex-direction: column;
}

/*.country-list {
    position: absolute;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
}*/

/*-----------4.3 Footer---------*/

